*{
 font-family: Futura, monospace;
 box-sizing: border-box;
 margin: 0 auto;
}

body{
    background-color: #000222;
    color: #3a2dc4;  
    text-align: center;
    font-family: monospace, sans-serif;
    background-image: url(space.jpg);
    background-size: cover;
    height: 100vh;
    

}

.topbar{
    background-color: #000222dd;
    border: none;
    border-radius: 0px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.window {
    border: dotted #93a1d6 5px;
    background-color: #000222;
    min-width: fit-content;
    max-width: 500px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top:50%;
    left:50%; 
    transform: translate( -50%, -50%);
    cursor: pointer; 
    display: flex;
    flex-direction: column;
}

.windowheader{
    width: 100%;
    height: 20%;
    color:#9734d1;
    text-align: left;
    background-color: #6d1365;
    border-radius: 5px;
    font-family: sans-serif;
   
}

.closebtn{
    background-color: rgb(161, 4, 4);
    width: fit-content;
    padding: 0px 5px;
    border-radius: 4px;
    color: red;
    cursor: pointer;
}

#deskApps{
    padding: 64px 16px;
    width: fit-content;
}

#deskApps img{
    width: 60px;
    height: 60px;
    border-radius: 15px;
   
}

.selected img {
    border: solid aqua 2px;
}