*{
 font-family: Futura, monospace;
 box-sizing: border-box;
 margin: 0 auto;
}

body{
    background-color: #000222;
    color: #3a2dc4;  
    text-align: center;
    font-family: monospace, sans-serif;
    background-image: url(space.jpg);
    background-size: cover;
    height: 100vh;
    

}

.topbar{
    background-color: #000222dd;
    border: none;
    border-radius: 0px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.window {
    border: dotted #93a1d6 5px;
    background-color: #000222;
    min-width: fit-content;
    max-width: 500px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top:50%;
    left:50%; 
    transform: translate( -50%, -50%);
    cursor: pointer; 
    display: flex;
    flex-direction: column;
}

.windowheader{
    width: 100%;
    height: 20%;
    color:#9734d1;
    justify-content: space-between;
    background-color: #6d1365;
    border-radius: 5px;
    font-family: sans-serif;
   
}

.closebtn{
    background-color: rgb(161, 4, 4);
    width: fit-content;
    padding: 0px 5px;
    border-radius: 4px;
    color: red;
    border: solid red 1px;
    cursor: pointer;
}

#deskApps{
    padding: 64px 16px;
    width: fit-content;
    position: fixed;
    top: 4vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 96vh;
    color: rgb(0, 183, 255);
    filter: drop-shadow( 0 0 15px red);
}

#deskApps img{
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

.selected img {
    border: solid rgb(0, 225, 255) 2px;
}

.app{
    width: fit-content;
    max-width: 400px;
    min-width: 100px;
    height: fit-content;
    max-height: 290px;  
    min-height: 100px;
}

.content{
    width: 350px;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
    overflow-y: auto;
}

.sidebar {
    background-color: #5b1e7e;
    color: #9734d1;
    padding: 5px;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 78px;
    max-height: 50%;
    position: fixed;
}

.txt{
    max-width: 230px;
    position: relative;
    left: 30px;
}

.version{
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

#novaNotes{
    height: 290px;
    background-color: #da71ae;
    color: #facbe1;
    border: solid  #ff0080;
}

#novaNotes .sidebar,  #novaNotesheader{
    background-color: #aa1754;
    color: #fa427f;
}

#novaNotesopen p {
     filter: drop-shadow( 0 0 8px red);
}

#zenapp{
    max-height: fit-content;
}